version: "3.9"

services:
  backend:
    build: ./backend
    container_name: tcu_backend
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env.docker
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=1
    command: ["npm", "run", "start"]

  frontend:
    build: ./frontend
    container_name: tcu_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=1
    depends_on:
      - backend

volumes:
  backend_node_modules:
  frontend_node_modules:
